In [1]:
# Exporte de diccionario para hacer manual
import pandas as pd

In [4]:
can = pd.read_excel('Data/Serce_2019-2020/SBAC19_diccionariomicro_20200325_DIC.xlsx', 
                    sheet_name='Cantón', dtype={'Código de Cantón': str})
par = pd.read_excel('Data/Serce_2019-2020/SBAC19_diccionariomicro_20200325_DIC.xlsx', 
                    sheet_name='Parroquia',
                    dtype={'Código de Parroquia': str}
                   )

In [9]:
can.head(4)

  Código de Cantón Nombre de la Cantón
0             0101              Cuenca
1             0102               Girón
2             0103            Gualaceo
3             0104               Nabón

In [10]:
par.head(4)

  Código de Parroquia Nombre de la Parroquia
0              010101             Bellavista
1              010102            Cañaribamba
2              010103               El Batán
3              010104            El Sagrario

In [13]:
par['Código de Cantón'] = par['Código de Parroquia'].str.slice(stop=4)

In [15]:
export = par.merge(can, on='Código de Cantón')
export.to_excel('Data/codes2.xlsx', index_label=False)